
.body{

  background-color: wheat;
  position: relative;
}
.container{

  width: 60%;
  margin: auto;
  /* min-height: 70vh; */
  background-color: white;
}
.text-center{

  text-align: center;
}
.mb-3 > input[type=text]{

  width:100%;

}

footer > p{

  padding: 0;
  margin: 0;
}